<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Emberjs App Example using Bootstrap</p>
    <p>Welcome! <a href="https://github.com/antoniolopesjr">Visit my Github </a><a href="https://github.com/antoniolopesjr"></a>.</p>
  </div>
</footer>