<article class="movie">
  <Movies::Image src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Crane_estate_(5).jpg"
    alt="A picture of Grand Old Mansion" />
  <div class="details">
    <h3>Mad Max</h3>
    <div class="detail name">
      <span>Name:</span> Mad Max
    </div>
    <div class="detail genre">
      <span>Genre:</span> Action
    </div>
    <div class="detail release-date">
      <span>Release Date:</span> 26-02-2020
    </div>
    <div class="detail language">
      <span>Language:</span> English
    </div>
  </div>
</article>