<Jumbo>
  <h2 {{fade-up delay=50}}>About Movies!</h2>
  <p {{fade-up delay=100}}>This is just a test of Emberjs Framework, this is only to test some features of Emberjs Framework.</p>
  <LinkTo @route="contact" class="button" {{fade-up delay=200}}>Contact Us</LinkTo>
  <LinkTo @route="index" class="button" {{fade-up delay=300}}>Home</LinkTo>
</Jumbo>