<NavBar />
<Jumbo>
  <h2>About Movies!</h2>
  <p>This is just a test of Emberjs Framework, this is only to test some features of Emberjs Framework.</p>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
  <LinkTo @route="index" class="button">Home</LinkTo>
</Jumbo>