<Jumbo>

  <h2>Contact Us</h2>
  <p>This is just a test of Emberjs Framework, this is only to test some features of Emberjs Framework.</p>
  <address>
    Movie Test API - By Antonio Lopes
    <p>
      Divinopolis, Minas Gerais<br>
      Brazil
    </p>
    <a href="tel:553733333333">+55 (37) 3333-3333</a><br>
    <a href="mailto:antonio.lopesjr@outlook.com">antonio.lopesjr@outlook.com</a>
  </address>
    <LinkTo @route="about" class="button">About</LinkTo>
    <LinkTo @route="index" class="button">Home</LinkTo>

</Jumbo>