<div class="jumbo">
  <div class="right movie-logo"></div>
  <h2>Welcome to Movies Test API!</h2>
  <p>This is just a test of Emberjs Framework</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>
</div>