<Jumbo>
  <h2>Welcome to Movies Test API!</h2>
  <p>This is just a test of Emberjs Framework</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>

<div class="container">
    <div class="row">
      <div class="col-md-5">
          {{#each @model as |movies|}}
          <Movies @movies={{movies}} />
          {{/each}}
      </div>
    </div>
</div>