<Jumbo>
  <h2>Welcome to Movies Test API!</h2>
  <p>This is just a test of Emberjs Framework</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>

<div class="movies">
  <ul class="results">
    {{#each @model as |movies|}}
    <li><Movies @movies={{movies}} /></li>
    {{/each}}
  </ul>
</div>